body {
    background: #f8f8f8;
    font-size: 1em;
    line-height: 1.625em;
}

p img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

a {
    color: #f8f8f8;
}

a:hover {
    /* 选中状态下颜色 */
    color: #A99BF9;
}

.container {
    width: 1080px;
}

.container-sm {
    width: 980px;
}

.container, .container-sm {
    margin-right: auto;
    margin-left: auto;
    transition: width .5s linear;
}


/* header */

header {
    background: #647081;
    height: 65px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    border-bottom: none;
    overflow: hidden;
}

/* Nav */


.navbar-header, .navbar-nav {
    float: left;
    line-height: 65px;
}

.navbar-right {
    float: right;
}

.navbar-brand {
    display: block;
    padding: 0 1em;
}

.navbar-brand img {
    width: 48px;
    height: 48px;
    margin-right: 0.625em;
    vertical-align: middle;
}

.navbar-nav > li {
    position: relative;
    float: left;
    font-size: 14px;
}

.navbar-nav li {
    overflow: hidden;
    height: 65px;
}

.navbar-nav > li > a {
    padding: 0 2em;
    height: 100%;
    display: block;
    font-size: 14px;
    color: #f8f8f8;
    letter-spacing:1px;
    transition: height .2s ease-out;
}

.navbar-nav > li:hover > a {
    color: #A99BF9;
    opacity: 1;
    height: 63px;
}

.navbar-nav .active a {
    color: #A99BF9;
    height: 63px;
}

.nav .search-input {
    padding: 4px 14px;
    outline: none;
    border: 1px solid #A99BF9;
    border-radius: 50px;
}

.navbar-sm > li > a {
    border: none;
}

























