body {
    background: #fff;
    font-size: 1em;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "微软雅黑";
}

.clearfix:after{
    content: ' ';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    zoom: 1;
}

p img {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

a {
    color: #f8f8f8;
    text-decoration: none;
}

a:hover {
    color: #A99BF9;
}

.container {
    width: 1080px;
}

.container-sm {
    width: 980px;
}

.container, .container-sm {
    margin-right: auto;
    margin-left: auto;
    transition: width .5s linear;
}





/* header */

header {
    background: #647081;
    height: 65px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    border-bottom: none;
    overflow: hidden;
    display: block;
}

/* Nav */


/* 左对齐的brand,导航*/
.navbar-header, .navbar-left {
    float: left;
    line-height: 65px;

}

/* brand */
.navbar-brand {
    display: block;
    padding: 0 1em;
}

.navbar-brand img {
    width: 48px;
    height: 48px;
    margin-right: 0.625em;
    vertical-align: middle;
}


/* 右对齐搜索、登录 */
.navbar-right {
    float: right;
    line-height: 65px;
}


.navbar-nav > li {
    position: relative;
    float: left;
    font-size: 14px;
}

.navbar-nav  li {
    overflow: hidden;
}

.navbar-nav > li > a {
    padding: 0 2em;
    height: 100%;
    display: block;
    font-size: 14px;
    color: #fff;
    letter-spacing:1px;
    transition: height .2s ease-out;
}

.navbar-nav > li:hover > a {
    color: #A99BF9;
    opacity: 1;
    height: 63px;
}

.navbar-nav .active a {
    color: #A99BF9;
    height: 63px;
}

.nav .search-input {
    padding: 4px 14px;
    outline: none;
    border: 1px solid #A99BF9;
    border-radius: 50px;
}

.navbar-sm > li > a {
    border: none;
}

.btn{
    margin: 0 50px;
    height: 30px;
    width: 80px;
    border: 1.5px solid #A99BF9;
    border-radius: 10px;
    color: #fff;
    background: #647081;
}
.btn:hover{
    cursor: pointer;
}

/*页脚*/
.footer {
    background: #647081;
    height: 65px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    border-bottom: none;
    overflow: hidden;
}

.content {
    line-height: 65px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
}



















