/*通配符设置*/
*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
/*清除浮动*/
.clearfix:after{
    content: ' ';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    zoom: 1;
}
.content{
    width: 1000px;
    margin: 0 auto;
}
/*头部*/
.header{
    height: 80px;
    width: 100%;
    background: #647081;
    line-height: 80px;
    text-align: center;
    position: relative;
}
.header .header-icon{
    margin-top: 16px;
    float: left;
}
.header .header-list ul{
    position: absolute;
    left: -1px;
    line-height: 30px;
    display: none;
    width:90px;
    z-index: 1;
}
.header .header-list ul li a{
    display: block;
    margin-left: 10px;
    color: #fff;
}

.header .header-menu{
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.header .header-menu .header-menu-items{
    display: inline-block;
    font-size: 20px;
    height: 80px;
    width: 100px;
    color: #fff;
}
.header .header-menu .header-menu-items:hover{
    border-bottom:10px solid #fff;
    height: 70px;
    cursor: pointer;
}
.header .header-sidemenu{
    float: right;
}
.header .header-sidemenu .btn{
    height: 40px;
    width: 100px;
    border: 2px solid #A99BF9;
    border-radius: 10px;
    color: #fff;
    background: #647081;
}
.header .header-sidemenu .btn:hover{
    cursor: pointer;
}

/*页脚*/
.footer{
    height: 80px;
    width: 100%;
    background: #647081;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}